{{#each userEvents as |event| }}


{{!-- event div --}}
<div class="card" id="event_div">
  <div class="info_div">

  <h1 id="hosted_by">Events Hosted by {{event.user.username}}</h1>

    <h2 id="event_name">Event Name: {{event.name}}</h2>
    <h3 id="event_place">Place: {{event.place}}</h3>
    </div>

    <h3 id="event_time">Time: {{event.time}}</h3>
  
 
  <div class="col-md-3">
    <h3>Host: {{event.user.username}}</h3>
  </div>
  
</div>
{{!-- event div --}}
{{!-- todo style divs as cards --}}
{{#each event.user.items as |item| }}
<div class="requested_items" id="event_div">
  <div class="col-md-4">
    <h1>Items: {{event.user.items.name}}</h1>
    <ul>Item.event_id: {{item.event.name}}
      <li>Item.name: {{item.name}}</li>
      <li>item.user_id: {{item.user_id}}</li>
      <li>Item.user.name: {{item.user.name}}</li>

    </ul>
    
  </div>
  
</div>
{{/each}}
{{/each}}
{{#each userEvents.user.items.event as |event| }}
<h1>Events where {{event.user.username}} has agreed to bring Items</h1>
{{/each}}

<a href="/new-event">
  <button class="button" id="add-new-event create_event">Create New Event</button>
</a>