{{#each hostedEvents as |event| }}
{{loggedInUser}}
<h1>{{loggedInUser}}</h1>
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{event.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3>{{event.place}}</h3>
  </div>
  <div class="col-md-6">
    <h3>{{event.time}}</h3>
  </div>
</div>
{{/each}}
