{{#if eventsExist}}
{{#each userEvents as |event| }}

<h1 id="hosted_by">Events Hosted by {{event.user.username}}</h1>
{{!-- event div --}}
<div class="row align-center mb-5" id="event_div">
  <div class="col-md-3">
    <h2>Event Name: {{event.name}}</h2>
  </div>
  <div class="col-md-3">
    <h3>Place: {{event.place}}</h3>
  </div>
  <div class="col-md-3">
    <h3>Time: {{event.time}}</h3>
  </div>
  <div class="col-md-3">
    <h3>Host: {{event.user.username}}</h3>
  </div>
  <div class="col-md-3">
    <h3>Items: {{event.user.items.name}}</h3>
  </div>
</div>
{{!-- event div --}}
{{!-- todo style divs as cards --}}
{{#each event.user.items as |item| }}
<div class="row align-center mb-5" id="event_div">
  <div class="col-md-4">
    <h2>Item.name: {{item.name}}</h2>
  </div>
  <div class="col-md-4">
    <h3>Item.event_id: {{item.event.name}}</h3>
  </div>
  <div class="col-md-4">
    <h3>item.user_id: {{item.user_id}}</h3>
  </div>
  <div class="col-md-4">
    <h3>Item.user.name: {{item.user.name}}</h3>
  </div>
</div>
{{/each}}
{{/each}}
{{#each userEvents.user.items.event as |event| }}
<h1>Events where {{event.user.username}} has agreed to bring Items</h1>
{{/each}}
{{/if}}

<a href="/new-event">
  <button id="add-new-event">Create New Event</button>
</a>